@import "src/style/variables";
@import "src/style/button";

.authorization {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background-color: $bg;
  border-radius: 20px;
  border: 2px solid $main-color;
  padding: 30px;
  align-self: center;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  &__header {
    font-size: 30px;
    font-weight: 700;
  }

  input {
    margin: 10px 20px;
  }

  &__btn {
    border: none;
    background-color: $main-color;
    border-radius: 8px;
    color: $bg;
    font-weight: 700;
    padding: 5px 10px;
    align-self: flex-end;
    margin-top: 10px;
  }
}
